.formulario{
    width: 80%;
    margin-left: 250px;
}

.container-formulario{
    height: 100%;
}

.card{
    /*background-color: #f0f0f0;*/
    border-radius:10px;
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
    width: 80%;
    margin: auto;
}
.card-actions{
    display: flex;
    justify-content:end;
}
.card-details,.card-actions{
    padding: 2rem;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}